

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a{
    text-decoration: none;
}
.sgnup{
    position:absolute; 
    top:0%; 
    left:94%; 
    transform:translate(-50%,-50%);
    margin-top:20px;
}

#signup{
    
    padding:10px 20px; 
    font-size:15px; 
    font-weight:600; 
    color:white;
    background-color: #8652ff;
    border:none;
    border-radius: 5px;
    cursor:pointer; 
}


.popup{
   position:absolute; 
   opacity: 0;
   width: 60%;
   left:20%;
   top: 6%;
   margin-top: 50px;
   padding-top: 20px;
   box-shadow: 0 0 10px 0 rgb(0 0 0 / 15%);
   border-radius:10px; 


}

.popup.active
 
{
   opacity:1; 

}

.closebtn{
    position :absolute;
    top:10px;
    right:17px; 
    width:17px;
    height:17px; 
    color:#888; 
    line-height:25px; 
    font-size: 40px;
    cursor:pointer;
    font-weight: 700;
    
}

.main{
    display: flex;
    margin-bottom: 10px; 
    margin-top: 10px;
    

}

.login{
    width: 50%;

}
h1{
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.login form{
    margin: auto;
    width: 90%;
   
  }
  .formname{
      
    margin-bottom: 20px;
    position: relative;
   
  }


  .formname input[type="email"],
  .formname input[type="password"]
  {
      width: 90%;
      margin: auto;
      padding: 12px;
      font-size: 15px;
      box-sizing: border-box;
      border-radius: 5px;
      border: 1px solid gray;
     
  }

  .formname input[type="email"]:hover,
  .formname input[type="password"]:hover{
    border: 1px solid #8652ff ;

  }


  label{
    position: absolute;
    left: 12px;
    top: 11px;
    transition: 0.2s;
    background-color:white;
}

input:focus~label,
input:valid~label
{
    top: -8px;
    font-size: 14px;
   font-weight: 400;
 
    
}


#signedin{
    margin-top: 8px;
    margin-left: 10px;
    font-size: 14px;
    font-family: sans-serif;
   
}

.formname button{
    width: 69%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;

}

.formname button:hover{
    color:  #8652ff;
}

#login_btn{
    background-color: #8652ff;
    color:white;
    font-weight: 550;
    font-family: sans-serif;
    font-size: 15px;
    padding: 10px 32%;
    border-radius: 5px;
    border: none;
    margin-bottom: 13px;
    cursor: pointer;
   
}

.formname h4{

    font-weight: 400;
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    margin-right: 25%;
    margin-top: 5px;
}

#otpbtn{
    color: #8652ff;
    font-weight: 600;
    font-family: sans-serif;
    font-size: 15px;
    background-color: white;
    border: 1px solid #8652ff;;
    margin-left: 20px;
    
}

.login2{

    width: 45%;
}



#signuplogo{
   width: 80%;
   display: grid;
   grid-template-columns: repeat(1,1fr);
   margin: auto;
   margin-top: 20%;
   gap: 20px;

}
#googlelogo{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 15%);
    cursor: pointer;
}

#googlelogo img{
 
    width: 8%;
    margin-left: 5px;
    margin-right: 20px;


}

#googlelogo h4{

    font-family: sans-serif;
    font-size: 15px;
    color:#47535e;
   
}

#Linkdlogo{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 15%);
    cursor: pointer;


}

#Linkdlogo img{
    width: 8%;
    margin-left: 5px;
    margin-right: 20px;

}
#Linkdlogo h4{
    font-family: sans-serif;
    font-size: 15px;
    color:#47535e;
}

#fblogo{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 15%);
    cursor: pointer;
}


#fblogo img{
   width: 8%;
    margin-left: 5px;
    margin-right: 20px;

}

#fblogo h4{
   font-family: sans-serif;
   font-size: 15px;
   color:#47535e;

}

#noaccount{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #f3fdfb;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 0px 0px 7px 7px;
    
}

#noaccount h3{
    font-family: sans-serif;
    font-size: 20px;
    color:#47535e; 
    margin-right: 7px;  
}

#noaccount button{
    padding:7px 17px; 
    font-size:14px; 
    font-weight:550; 
    color:white;
    background-color: #8652ff;
    border:none;
    border-radius: 5px;
    cursor:pointer; 
}


