#grid1{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    padding:5px;
    /* border:1px solid red; */
    
}

#cards{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    margin:auto;
    align-items: center;
    /* justify-content: center; */
    padding:20px;
    /* border:1px solid red; */
    width:95%;
    margin-top:250px;
    gap:40px;
    justify-content: space-evenly;
}

#rating{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* border:1px solid red; */
    width:70px;
    height:35px;
    padding:5px;
    
}

#card{
    width:400px;
    height:auto;
    /* border:1px solid red; */
    margin-left:30px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    /* margin-right:50px; */
    border-radius: 5px;
}

#flex2{
    margin-top:-20px;
    margin-left:-140px;
}

#grid2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left:50px;
    
}

#buynow{
    float:right;
    margin-right:35px;
    
    width:80px;
    height:30px;
    text-align: center;
    color: white;
    border-radius: 5px;
    background-color: #7c44ff;
    font-size: smaller;
    justify-content: center;
    padding-top:5px;
    
}

#grid78{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width:90%;
    margin:auto
}

