/* -----------Header Section-------------- */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

/* -----------------------------------Header Section----------------------------------- */
.header-promo {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  padding-right: 135px;
  background: #f2f3f8;
  color: #505e6b;
  font-size: 15px;
  height: 41px;
}
.header-promo-list {
  text-align: left;
  width: 285px;
  /* height: 150px; */
  z-index: 1;
  display: none;
  position: absolute;
  right: 350px;
  top: 41px;
  cursor: pointer;
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 10px 20px;
  color: rgb(81, 81, 81);
}
.header-promo-list h2 {
  margin: 5px 0;
  padding: 0;
}
.header-promo-list p {
  margin: 5px 0;
}
.header-promo-download > div {
  display: flex;
  justify-content: center;
}
.header-promo-download > div > a:first-child {
  margin: 5px 0 -5px -8px;
}
.header-promo-download > div > a:last-child {
  margin: 13px 0 -5px 0;
}
.header-promo-call {
  position: absolute;
  border-radius: 5px;
  background-color: white;
  color: rgb(67, 67, 67);
  right: 125px;
  top: 42px;
  margin-bottom: 60px;
  z-index: 1;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 0px 20px;
  display: none;
  cursor: pointer;
}
.header-promo h4 {
  /* padding: 10px 0; */
  padding: 10px 0;
  margin: 0 -5px;
  box-sizing: border-box;
  /* border: 1px solid; */
  font-size: 14px;
}
.header-promo h4:hover {
  border-bottom: 2px solid #8652ff;
}
.header-promo > h4 > a {
  text-decoration: none;
  color: #505e6b;
}
.header-promo-download-hover:hover .header-promo-list {
  display: block;
}
.header-promo-list:hover {
  display: block;
}
.header-promo-help-hover:hover .header-promo-call {
  display: block;
}
.material-symbols-outlined {
  position: relative;
  margin-top: -10px;
  top: 5px;
  padding-right: 5px;
}
.sticky_navbar {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  background: white;
}
.inputbox-search {
  padding: 5px 0 0 5px;
}
.header-login-section {
  display: flex;
  justify-content: space-between;
  padding: 5px 130px 5px 115px;
  /* margin-top: -2px;
  margin-left: -2px; */
  height: 60px;
}
.header-login-section-two {
  display: flex;
  gap: 25px;
  align-items: center;
  font-size: small;
}
.header-login-section-two span {
  color: #8080a5;
  padding: 5px;
}
.header-login-section-two span:hover {
  border-bottom: 2px solid #8652ff;
}

#header-login-input {
  display: flex;
  /* gap: 20px; */
}
#header-login-input img {
  position: relative;
  top: -17px;
  left: 2px;
  width: 50%;
  padding: 0;
  /* margin-rsight: 30px; */
  margin: 0;
}
#header-login-input input {
  position: relative;
  left: -60px;
  margin-top: 3px;
  height: 40px;
  padding-right: 260px;
  border: none;
  padding-left: 10px;
  border-radius: 5px 0 0 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
#header-login-input input:focus {
  outline: none;
  border: 1px solid #8652ff;
}
#header-login-input button {
  position: relative;
  left: -60px;
  margin-top: 3px;
  width: 40px;
  height: 40px;
  border-radius: 0 5px 5px 0;
  border: none;
  color: white;
  background: #8652ff;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.header-login-section > div > a {
  color: #8080a5;
  position: relative;
  top: 15px;
}
.header-login-section > div > a:not(:last-child) {
  margin-right: 20px;
}
.navbar {
  display: flex;
  justify-content: flex-start;
  padding-left: 100px;
  gap: 20px;
  height: 47px;
  font-size: small;
  font-weight: 600;
  /* padding-top: 15px; */
  /* padding-bottom: 15px; */
  border-top: 1px solid rgb(211, 209, 209);
  border-bottom: 1px solid rgb(211, 209, 209);
}
.nav-links {
  background-color: #fff;
  border: 1px solid #ececec;
  border-radius: 0.5rem;
  padding: 10px 5px;
  box-shadow: 0 0 1.5rem 0 rgb(0 0 0 / 10%);
  position: absolute;
  top: 31px;
  display: none;
  min-width: 210px;
  z-index: 1;
  font-weight: 500;
  text-align: left;
}
.navbar > a:hover,
.navbar > div > a:hover {
  border-bottom: 2px solid #8652ff;
}
.navbar > div {
  position: relative;
  top: 15px;
}
.navbar > a {
  position: relative;
}
.navbar > div > a,
.navbar > a {
  /* border: 1px solid; */
  padding: 14px 10px;
  position: relative;
}
.nav-links > a:hover {
  margin-left: -2px;
  color: #8652ff;
  border-left: 2px solid #8652ff;
}
.nav-links-jobs {
  left: -8px;
}
.nav-links-job-seeking {
  left: -3px;
}
.nav-links-course {
  left: -5px;
}
.header-slider {
  width: 100%;
  overflow: hidden;
}
.header-notifications {
  position: absolute;
  z-index: 1;
  text-align: left;
  right: 50px;
  background: white;
  color: rgb(44, 44, 44);
  border-radius: 5px;
  height: 350px;
  width: 400px;
  top: 90px;
  right: 240px;
  box-shadow: 0 0 1.5rem 0 rgb(0 0 0 / 10%);
  display: none;
  padding-bottom: 20px;
}
.header-notifications > h3 {
  padding: 20px 30px;
}
.header-notifications > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin: auto;
  text-align: center;
  color: #505e6b;
}
.header-notifications > div > img {
  width: 60px;
  padding: 20px 0 20px 0;
}
.header-notifications h4 {
  padding-bottom: 15px;
}
.header-notification-login {
  right: 0;
  position: absolute;
  background: white;
  width: 200px;
  height: 180px;
  top: 90px;
  right: 125px;
  border-radius: 10px;
  box-shadow: 0 0 1.5rem 0 rgb(0 0 0 / 10%);
  text-align: center;
  display: none;
  color: #505e6b;
}
.header-notification-login > div {
  margin-top: 20px;
  margin-bottom: 30px;
}
.header-notification-login a {
  text-decoration: none;
  padding: 12px 50px;
  background-color: #8652ff;
  border-radius: 5px;
  font-weight: 600;
  color: white;
}
#user-login-btn {
  background-color: white;
  color: #8652ff;
  font-size: 15px;
  padding: 5px 65px;
  border-top: 1px solid rgb(204, 204, 204);
  border-radius: 0;
}
.header-notification-hover:hover .header-notifications {
  display: block;
}
.header-notification-login-hover:hover .header-notification-login {
  display: block;
}
.nav-links > a {
  padding: 10px 15px;
  text-decoration: none;
  color: black;
  display: block;
}

.navbar a {
  text-decoration: none;
  color: black;
}
.navbar-jobs:hover .nav-links-jobs {
  display: block;
}
.navbar-job-seeking:hover .nav-links-job-seeking {
  display: block;
}
.navbar-course:hover .nav-links-course {
  display: block;
}
.header-slider {
  width: 1519px;
  height: 375px;
  overflow: hidden;
}
.header-slides:not(:last-child) {
  width: 500%;
  height: 375px;
  display: flex;
}
.header-slides input {
  display: none;
}
.navbar-slides {
  width: 20%;
  transition: 500ms;
}
.navbar-slides img {
  width: 1540px;
  height: 375px;
}
.slider-navigation-manual {
  position: relative;
  width: 1540px;
  margin-top: -28px;
  display: flex;
  justify-content: flex-start;
}
.manual-btn {
  background: rgba(150, 204, 195, 0.562);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 15px;
}
.manual-btn:first-child {
  margin-left: 120px;
}
#radio1:checked ~ .first {
  margin-left: 0;
}
#radio2:checked ~ .first {
  margin-left: -20%;
}
#radio3:checked ~ .first {
  margin-left: -40%;
}
#radio4:checked ~ .first {
  margin-left: -60%;
}
#radio5:checked ~ .first {
  margin-left: -80%;
}
#radio6:checked ~ .first {
  margin-left: -100%;
}

.slider-navigation-auto {
  position: absolute;
  display: flex;
  left: 105px;
  margin-top: 347px;
}

.slider-navigation-auto div {
  background: rgba(73, 73, 73, 0.562);
  padding: 5px;
  border-radius: 10px;
  margin-left: 15px;
}

#radio1:checked ~ .slider-navigation-auto .auto-btn-1 {
  background-color: #61e9f5;
}
#radio2:checked ~ .slider-navigation-auto .auto-btn-2 {
  background-color: #61e9f5;
}
#radio3:checked ~ .slider-navigation-auto .auto-btn-3 {
  background-color: #61e9f5;
}
#radio4:checked ~ .slider-navigation-auto .auto-btn-4 {
  background-color: #61e9f5;
}
#radio5:checked ~ .slider-navigation-auto .auto-btn-5 {
  background-color: #61e9f5;
}
#radio6:checked ~ .slider-navigation-auto .auto-btn-6 {
  background-color: #61e9f5;
}

.search-dream-job {
  box-sizing: border-box;
  margin: 30px 0 20px 110px;
}
.search-dream-job a {
  text-decoration: none;
  color: black;
}
.search-container {
  box-sizing: border-box;
  width: 68%;
  /* border: 1px solid; */
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 5px;
  text-align: center;
  margin-top: 30px;
  padding: 10px 0;
}
.search-container input {
  padding: 10px 400px 10px 10px;
  margin: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.search-container input:focus {
  outline: none;
  border: 1px solid #8652ff;
}
.search-container form {
  margin-top: 30px;
  margin-bottom: 50px;
}
#search-job-btn {
  position: relative;
  color: white;
  background-color: #8652ff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: medium;
  margin-top: 40px;
  left: -225px;
  cursor: pointer;
}
#search-job-btn:hover {
  background-color: #7b4ce9;
}
.job-profile {
  display: flex;
  gap: 30px;
  justify-content: flex-start;
  margin-top: 30px;
  width: 50%;
}
.job-profile a {
  padding: 40px 80px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.job-profile a:hover {
  color: #8652ff;
}

body {
  text-align: center;
  height: auto;
}

#buttonh3 {
  border-radius: 5px;
  width: 200px;
  height: 35px;
  /* margin: auto; */
  padding-top: 15px;
  text-align: center;
  /* padding: 5px; */
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  /* margin: auto; */
  color: white;
  background-color: #f3a433;
}

#job-seeking-container {
  display: flex;
  width: 85%;
  height: 400px;
  /* border:1px solid red; */
  margin: auto;
  text-align: left;
  margin-top: 40px;
}

#job-seeking-container > div {
  width: 30%;
  height: 400px;
  /* border:1px solid red; */
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#job-seeking-container > div > img {
  width: 363px;
}

#job-seeking-bottom {
  display: grid;
  /* border: 1px solid red; */
  grid-template-columns: 1fr 1fr;
  text-align: center;
  margin: auto;
  height: 30px;
  padding: 4px;
  color: #905ffc;
  /* font-weight:bold; */
}

#job-seeking-bottom div {
  /* color: green; */
  width: 100px;
  font-size: small;

  /* border:1px solid red; */
}

#job-seeking-bottom div:nth-child(1) {
  /* color: red; */
  margin-left: -23px;
}

#job-seeking-explore {
  margin-left: 25px;
  font-weight: bolder;
  /* color:red; */
  /* border:1px solid red; */
}

#job-seeking-bottom2 {
  display: flex;
  /* border:1px solid red; */
  border-radius: 4px;
  float: right;
  /* width:350px; */
  height: 20px;
  margin: auto;
  padding: 5px;
  font-size: small;
  margin-top: -8px;
  color: white;
  background-color: #905ffc;
}

#phoneimg {
  width: 20px;
  height: 20px;
  /* color:white; */
  /* background-color: white; */
}

h1,
h3,
p {
  /* padding: 2px; */
  margin-left: 5px;
}

h4 {
  margin-left: 14px;
}

#job-seeking-container2 {
  display: grid;
  /* border:1px solid red; */
  margin-top: 100px;
  margin-bottom: 70px;
  grid-template-columns: 1fr 1fr;
  grid-gap: -50px;
  padding: 30px;
  align-items: center;

  /* margin: auto; */
}

#job-seeking-container2 > div > img {
  width: 60%;
  /* border:1px solid red; */
}

#flex {
  display: flex;
  flex-direction: column;
  text-align: left;
  /* border: 1px solid red; */
  width: 80%;
  margin-top: -25px;
}

h1 {
  text-align: center;
  /* margin: auto; */
}

#grid12 {
  display: grid;
  /* border: 1px solid red; */
  grid-template-columns: repeat(3, 1fr);
  gap: 55px;
  padding: 15px;
  margin: auto;
  /* justify-content: space-evenly; */
  width: 85%;
  height: 100%;
  margin: auto;
  text-align: left;
  margin-top: 50px;

  /* text-align: center; */
}

#card12 {
  width: 100%;
  /* border: 1px solid red; */
  height: 250px;
  /* margin-left: 30px; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* justify-content: right; */
}

#card12 > #logo12,
h2,
p {
  margin-left: 15px;
}

p {
  font-size: small;
}

#grid122 {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

#job-seeking-explore12 {
  float: right;
  /* border: 1px solid red; */
  text-align: center;
  color: #905ffc;
  font-weight: bolder;
}

#logo12 {
  width: 50px;
  /* padding: 5px; */
  margin-top: 10px;
}

#eye {
  width: 20px;
  margin-left: 40px;
}

#share {
  width: 20px;
  margin-left: 45px;
}

#feelinglost {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px;
  /* border:1px solid red; */
  margin: auto;
  width: 90%;
  align-items: center;
  height: auto;
  justify-content: center;
}

#feelinglost > div {
  /* border: 1px solid red; */
  height: 300px;
}

#call {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 450px;
  /* height: 200px; */
  margin: auto;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

#callback {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* margin:auto; */
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  justify-content: center;
  /* height:auto; */
  padding: 10px;
  margin: auto;
  text-align: left;
  /* margin-top: 50px; */
  /* height: 200px; */
}

.job-seeking-input input {
  /* border:1px solid red; */
  width: 300px;
  height: 30px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  text-align: left;
  padding: 5px;
}

.job-seeking-input input {
  margin-bottom: 15px;
}

.job-seeking-input div {
  /* border:1px solid red; */
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  width: 130px;
  height: 30px;
  text-align: left;
  /* margin:auto; */
  padding-top: 8px;
  padding-left: 5px;
  border-radius: 5px;
  background-color: #9060ff;
  color: white;
  font-weight: bolder;
}

#grid1234 {
  display: grid;
  gap: 30px;
  border-radius: 5px;
  grid-template-columns: repeat(3, 1fr);
  /* border: 1px solid red; */
}

#card123 {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  padding: 5px;
  margin: auto;
  text-align: center;
  width: 80%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#card123 img {
  width: 200px;
  height: 200px;
  margin: auto;
}
