* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0;
  padding: 0;
}

/* -----------------------------------Header Section----------------------------------- */

.header-promo {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  padding-right: 135px;
  background: #f2f3f8;
  color: #505e6b;
  font-size: 15px;
  height: 41px;
}
.header-promo-list {
  width: 285px;
  /* height: 150px; */
  z-index: 1;
  display: none;
  position: absolute;
  right: 340px;
  top: 42px;
  cursor: pointer;
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 10px 20px;
  color: rgb(81, 81, 81);
}
.header-promo-list h2 {
  margin: 5px 0;
  padding: 0;
}
.header-promo-list p {
  margin: 5px 0;
}
.header-promo-download > div {
  display: flex;
  justify-content: center;
}
.header-promo-download > div > a:first-child {
  margin: 5px 0 -5px -8px;
}
.header-promo-download > div > a:last-child {
  margin: 13px 0 -5px 0;
}
.header-promo-call {
  position: absolute;
  border-radius: 5px;
  background-color: white;
  color: rgb(67, 67, 67);
  right: 125px;
  top: 42px;
  margin-bottom: 60px;
  z-index: 1;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 0px 20px;
  display: none;
  cursor: pointer;
}
.header-promo h4 {
  /* padding: 10px 0; */
  padding: 10px 0;
  margin: 0 -5px;
  box-sizing: border-box;
  /* border: 1px solid; */
  font-size: 13px;
}
.header-promo h4:hover {
  border-bottom: 2px solid #8652ff;
}
.header-promo > h4 > a {
  text-decoration: none;
  color: #505e6b;
}
.header-promo-download-hover:hover .header-promo-list {
  display: block;
}
.header-promo-list:hover {
  display: block;
}
.header-promo-help-hover:hover .header-promo-call {
  display: block;
}
.material-symbols-outlined {
  position: relative;
  margin-top: -10px;
  top: 5px;
  padding-right: 5px;
}
.sticky_navbar {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  background: white;
}
.inputbox-search {
  padding: 5px 0 0 5px;
}
.header-login-section {
  display: flex;
  justify-content: space-between;
  padding: 5px 130px 5px 115px;
  /* margin-top: -2px;
  margin-left: -2px; */
  height: 60px;
}
.header-login-section-two {
  display: flex;
  gap: 25px;
  align-items: center;
  font-size: small;
}
.header-login-section-two span {
  color: #8080a5;
  padding: 5px;
}
.header-login-section-two span:hover {
  border-bottom: 2px solid #8652ff;
}

#header-login-input {
  display: flex;
  /* gap: 20px; */
}
#header-login-input img {
  position: relative;
  top: -17px;
  left: 2px;
  width: 50%;
  padding: 0;
  /* margin-rsight: 30px; */
  margin: 0;
}
#header-login-input input {
  position: relative;
  left: -60px;
  margin-top: 3px;
  height: 40px;
  padding-right: 260px;
  border: none;
  padding-left: 10px;
  border-radius: 5px 0 0 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
#header-login-input input:focus {
  outline: none;
  border: 1px solid #8652ff;
}
#header-login-input button {
  position: relative;
  left: -60px;
  margin-top: 3px;
  width: 40px;
  height: 40px;
  border-radius: 0 5px 5px 0;
  border: none;
  color: white;
  background: #8652ff;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.header-login-section > div > a {
  color: #8080a5;
  position: relative;
  top: 15px;
}
.header-login-section > div > a:not(:last-child) {
  margin-right: 20px;
}
.navbar {
  display: flex;
  justify-content: flex-start;
  padding-left: 100px;
  gap: 20px;
  height: 47px;
  font-size: small;
  font-weight: 600;
  border-top: 1px solid rgb(211, 209, 209);
  border-bottom: 1px solid rgb(211, 209, 209);
}
.nav-links {
  background-color: #fff;
  border: 1px solid #ececec;
  border-radius: 0.5rem;
  padding: 10px 5px;
  box-shadow: 0 0 1.5rem 0 rgb(0 0 0 / 10%);
  position: absolute;
  top: 34px;
  display: none;
  min-width: 210px;
  z-index: 1;
  font-weight: 500;
}
.navbar > a:hover,
.navbar > div > a:hover {
  border-bottom: 2px solid #8652ff;
}
.navbar > div {
  position: relative;
  top: 12px;
}

.navbar > div > a,
.navbar > a {
  /* border: 1px solid; */
  padding: 14px 10px;
  position: relative;
}
.nav-links > a:hover {
  margin-left: -2px;
  color: #8652ff;
  border-left: 2px solid #8652ff;
}
.nav-links-jobs {
  left: -8px;
}
.nav-links-job-seeking {
  left: -3px;
}
.nav-links-course {
  left: -5px;
}
.header-slider {
  width: 100%;
  overflow: hidden;
  margin-bottom: 50px;
}
.header-notifications {
  position: absolute;
  z-index: 1;
  right: 50px;
  background: white;
  color: rgb(44, 44, 44);
  border-radius: 5px;
  height: 350px;
  width: 400px;
  top: 90px;
  right: 240px;
  box-shadow: 0 0 1.5rem 0 rgb(0 0 0 / 10%);
  display: none;
}
.navbar > div > a {
  padding: 12px;
}
.header-notifications > h3 {
  padding: 20px 30px;
}
.header-notifications > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin: auto;
  text-align: center;
  color: #505e6b;
}
.header-notifications > div > img {
  width: 60px;
  padding: 50px 0 20px 0;
}
.header-notifications h4 {
  padding-bottom: 15px;
}
.header-notification-login {
  right: 0;
  position: absolute;
  background: white;
  width: 200px;
  height: 190px;
  top: 90px;
  right: 125px;
  border-radius: 10px;
  box-shadow: 0 0 1.5rem 0 rgb(0 0 0 / 10%);
  text-align: center;
  display: none;
  color: #505e6b;
}
.header-notification-login > div {
  margin-top: 20px;
  margin-bottom: 30px;
}
.header-notification-login a {
  text-decoration: none;
  padding: 12px 50px;
  background-color: #8652ff;
  border-radius: 5px;
  font-weight: 600;
  color: white;
}
#user-login-btn {
  background-color: white;
  color: #8652ff;
  font-size: 15px;
  padding: 5px 65px;
  border-top: 1px solid rgb(204, 204, 204);
  border-radius: 0;
}
.header-notification-hover:hover .header-notifications {
  display: block;
}
.header-notification-login-hover:hover .header-notification-login {
  display: block;
}
.nav-links > a {
  padding: 10px 15px;
  text-decoration: none;
  color: black;
  display: block;
}

.navbar a {
  text-decoration: none;
  color: black;
}
.navbar-jobs:hover .nav-links-jobs {
  display: block;
}
.navbar-job-seeking:hover .nav-links-job-seeking {
  display: block;
}
.navbar-course:hover .nav-links-course {
  display: block;
}
.header-slider {
  width: 1519px;
  height: 375px;
  overflow: hidden;
}
.header-slides:not(:last-child) {
  width: 500%;
  height: 375px;
  display: flex;
}
.header-slides input {
  display: none;
}
.navbar-slides {
  width: 20%;
  transition: 500ms;
}
.navbar-slides img {
  width: 1540px;
  height: 375px;
}
.slider-navigation-manual {
  position: relative;
  width: 1540px;
  margin-top: -28px;
  display: flex;
  justify-content: flex-start;
}
.manual-btn {
  background: rgba(73, 73, 73, 0.562);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 15px;
}
.manual-btn:first-child {
  margin-left: 120px;
}
#radio1:checked ~ .first {
  margin-left: 0;
}
#radio2:checked ~ .first {
  margin-left: -20%;
}
#radio3:checked ~ .first {
  margin-left: -40%;
}
#radio4:checked ~ .first {
  margin-left: -60%;
}
#radio5:checked ~ .first {
  margin-left: -80%;
}
#radio6:checked ~ .first {
  margin-left: -100%;
}

.slider-navigation-auto {
  position: absolute;
  display: flex;
  left: 105px;
  margin-top: 347px;
}

.slider-navigation-auto div {
  background: rgba(73, 73, 73, 0.562);
  padding: 5px;
  border-radius: 10px;
  margin-left: 15px;
}

#radio1:checked ~ .slider-navigation-auto .auto-btn-1 {
  background-color: #ff5e00;
}
#radio2:checked ~ .slider-navigation-auto .auto-btn-2 {
  background-color: #ff5e00;
}
#radio3:checked ~ .slider-navigation-auto .auto-btn-3 {
  background-color: #ff5e00;
}
#radio4:checked ~ .slider-navigation-auto .auto-btn-4 {
  background-color: #ff5e00;
}
#radio5:checked ~ .slider-navigation-auto .auto-btn-5 {
  background-color: #ff5e00;
}
#radio6:checked ~ .slider-navigation-auto .auto-btn-6 {
  background-color: #ff5e00;
}

.search-dream-job {
  box-sizing: border-box;
  margin: 30px 0 20px 110px;
}
.search-dream-job a {
  text-decoration: none;
  color: black;
}
.search-container {
  box-sizing: border-box;
  width: 68%;
  /* border: 1px solid; */
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 5px;
  text-align: center;
  margin-top: 30px;
  padding: 10px 0;
}
.search-container input {
  padding: 10px 400px 10px 10px;
  margin: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.search-container input:focus {
  outline: none;
  border: 1px solid #8652ff;
}
.search-container form {
  margin-top: 30px;
  margin-bottom: 50px;
}
#search-job-btn {
  position: relative;
  color: white;
  background-color: #8652ff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: medium;
  margin-top: 40px;
  left: -225px;
  cursor: pointer;
}
#search-job-btn:hover {
  background-color: #7b4ce9;
}
.job-profile {
  display: flex;
  gap: 30px;
  justify-content: flex-start;
  margin-top: 30px;
  width: 50%;
}
.job-profile a {
  padding: 40px 80px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.job-profile a:hover {
  color: #8652ff;
}

/* -----------------------------------------------Body Section-------------------------------------------- */

#ViewAll {
  margin-left: 48%;
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
  font-family: sans-serif;
  color: #8652ff;
}
#H4-or-text {
  text-align: center;
  text-decoration: none;
  font-weight: 200;
  font-size: 25px;
  font-family: sans-serif;
  color: #bbbcc2;
}

#Employee {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  gap: 20px;
  background-color: #f2f3f8;
}

#htag {
  padding: 7%;
  font-weight: 700;
  font-size: 25px;
  font-family: sans-serif;
  color: #232434;
  white-space: nowrap;
  display: inline-block;
  padding-left: 170px;
}
#button1 {
  width: 80%;
  margin-left: -2%;
  padding-top: 16%;
  padding-left: -10px;
  text-align: center;
}
#button2 {
  width: 80%;
  margin-left: -46%;
  padding-top: 16%;
  padding-left: -1px;
  text-align: center;
}
#button1 > button {
  background-color: #fba504;
  color: white;
  font-weight: 650;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  height: 42px;
  width: 70%;
  border: none;
  white-space: nowrap;
  display: inline-block;
}
#button2 > button {
  background-color: #8652ff;
  color: white;
  font-weight: 650;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 42px;
  width: 70%;
  font-size: 18px;
  white-space: nowrap;
  display: inline-block;
}
.career {
  text-align: center;
  padding-top: 30px;
  font-weight: 700;
  font-size: 40px;
  font-family: sans-serif;
}

#Aspirediv {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
  width: 70%;
  gap: 39px;
  margin-bottom: 20px;
}

.careerpart {
  margin-top: 20px;
  font-weight: 700;
  cursor: pointer;
  width: 100%;
  height: 85px;
  font-size: 20px;
  padding-right: 25%;
  padding-left: 10%;
  white-space: nowrap;
  display: inline-block;
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  background-color: white;
  border: 1px solid #f2f3f8;
  box-shadow: 0 0 15px 0 rgb(220 220 220 / 50%);
}

.strong {
  margin-top: 25px;
  margin-left: 10px;
}
#cto {
  width: 100%;
  margin-left: -25%;
}

#Datascience {
  width: 50%;
  text-align: left;
  margin-left: -25%;
  margin-top: 5%;
}
#cmo {
  width: 60%;
  text-align: left;
  margin-left: -25%;
  margin-top: 20%;
}
#cpo {
  width: 60%;
  text-align: left;
  margin-left: -25%;
  margin-top: 5%;
}

#careerpath {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-left: 2%;
  margin-top: -10px;
  background-color: #f2f3f8;
  padding-bottom: 7%;
  gap: -2%;
}
#careerpath > div h2 {
  margin-top: 20%;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 40px;
  white-space: nowrap;
  display: inline-block;
  align-items: center;
  justify-items: center;
  padding-left: 6%;
}
#careerpath > div a {
  padding-left: 6%;
}
#careerpath > div a button {
  font-weight: 700;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 30%;
  height: 50px;
  font-size: 20px;
  background-color: #fba504;
  color: white;
  white-space: nowrap;
  display: inline-block;
}
#careerpath > div img {
  padding-top: 30px;
  text-align: center;
}

.premiumchild {
  box-shadow: 0 0 15px 0 rgb(220 220 220 / 50%);
  padding-bottom: 20px;
}
.premiumchild img {
  width: 100%;
}

#premiumservices {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
  gap: 40px;
  margin: auto;
  margin-bottom: 20px;
}

.premiumchild h2 {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: #232434;
  margin-left: 5%;
  width: 90%;
}
.premiumchild p {
  width: 85%;
  text-align: left;
  margin-left: 5%;
  font-family: sans-serif;
  color: #232434;
  font-size: 15px;
}
.premiumchild h3 {
  width: 85%;
  text-align: left;
  margin-left: 5%;
  font-family: sans-serif;
  color: #232434;
  font-size: 15px;
}

.premiumbutton {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: space-around;
  gap: 10%;
  padding-right: 10%;
  margin: auto;
  padding-top: 10%;
}

.expert {
  background-color: #8652ff;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  height: 30px;
  width: 100%;
  font-size: 15px;
}
.Expore {
  border: none;
  background-color: white;
  font-weight: 600;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  height: 30px;
  width: 100%;
  font-size: 15px;
  color: #8652ff;
}

#select-category-course ul {
  display: block;
  margin: auto;
  width: 75%;
  cursor: pointer;
  margin-right: 16%;
  font-family: sans-serif;
  color: #333335;
  font-size: 15px;
  margin-bottom: 20px;
}

#select-category-course ul li {
  list-style: none;
  white-space: nowrap;
  display: inline-block;
  margin: 10px;
  margin-bottom: 20px;
}

#PopularCourse {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 77%;
  gap: 40px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 30px;
}
.coursechild {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  box-shadow: 0 0 15px 0 rgb(220 220 220 / 50%);
  height: 300px;
}
.coursechild span {
  font-family: sans-serif;
  color: #333335;
  font-size: 12px;
  height: 20px;
  margin-top: 10px;
}

.coursechild span :last-child {
  margin-bottom: 10px;
}

.Java {
  width: 35%;
  margin-left: 10px;
}

.Dev {
  border-radius: 50%;
  width: 100%;
  margin-top: 10px;
}
.Dev + p {
  text-align: center;
  font-weight: 650;
  font-family: sans-serif;
}
.javacontent {
  width: 140%;
  margin-left: -50%;
}
.javacontent h2 {
  font-family: sans-serif;
  color: #333335;
}
.javacontent p {
  font-family: sans-serif;
  color: #333335;
  font-size: 12px;
}
.javacontent h3 {
  font-family: sans-serif;
  color: #333335;
  padding-top: 7px;
  padding-bottom: 10px;
  font-size: 18px;
}

.coursebutton {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 200%;
  align-content: space-around;
  gap: 10%;
  padding-right: 10%;
  margin: auto;
  margin-top: -10%;
}

.coursexplore {
  border: none;
  background-color: transparent;
  font-weight: 600;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  height: 30px;
  width: 100%;
  font-size: 15px;
  color: #8652ff;
  margin-bottom: 20%;
  margin-left: -10%;
}

.corseexpert {
  background-color: #8652ff;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  height: 30px;
  width: 75%;
  font-size: 12px;
  margin-right: -20px;
  margin-left: 20%;
}

#Blog {
  background-color: #f0f0f0;
  margin-top: 50px;
  padding-bottom: 50px;
}

#Blog div h2 {
  padding-top: 60px;
  margin-bottom: 40px;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
}
.blogcontent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
  gap: 40px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  box-shadow: 0 0 15px 0 rgb(220 220 220 / 50%);
}
.blogcontent div {
  background-color: white;
}
.blogcontent div div img {
  width: 100%;
  height: 170px;
}

.blogh3 {
  width: 90%;
  margin: auto;
  font-family: sans-serif;
  font-weight: 700;
}

#blogpmint {
  font-family: sans-serif;
  width: 90%;
  margin: auto;
  font-size: 15px;
  padding-top: 10px;
}
.blogp {
  font-family: sans-serif;
  width: 90%;
  margin: auto;
  font-size: 15px;
}
/* -----------------Footer and assessMent */

* {
  list-style-type: none;
}
#v_logo_container {
  text-align: center;
}
#v_logo_container img {
  height: 55px;
  width: 55px;
  /* gap: 50px; */
}
#v_logo_container > div {
  /* margin: auto; */
  display: flex;
  gap: 55px;
  justify-content: center;
  font-size: 14px;
  margin-top: -5px;
}

#v_btn {
  width: 90%;
  /* border: 1px solid; */
  display: flex;
  justify-content: center;
  margin-left: 5%;
  margin-top: 30px;
  gap: 50px;
  /* padding: 0% 1% 0% 1%; */
  /* margin-left: 35% */
}

#v_btn > button {
  border: none;
  background-color: white;
  color: #676fc3;
  border: 1px solid;
  border-radius: 20px;
  padding: 5px 9px;
  text-align: center;
  font-size: 15px;
  /* margin: 3px 3px; */
  cursor: pointer;
}
#v_btn button:hover {
  background-color: #d8d9fd;
  color: black;
}
#v_cool_places {
  position: relative;
  top: -20px;
  height: auto;
  width: 90%;
  margin-left: 60px;
  display: flex;
}
#v_cool_places > div {
  /* border: 1px solid #676fc3; */
  text-align: center;
  margin: 0 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
/* #v_cool_places > div img{
 /* width: 100%; */
/* } */
#bottom {
  background-color: white;
}
#v_top_companies {
  /* border: 1px solid salmon; */
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  height: auto;
  width: auto;
  width: 90%;
  margin-left: 90px;
  display: none;
}
#v_top_companies > div {
  /* border: 1px solid salmon; */
  margin: 5px;
  margin-bottom: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#v_top_companies div > button {
  color: blue;
  border-radius: 50%;
  font-size: 35px;
  border: 0.5px solid blue;
  margin-top: 10px;
}
#v_viewall > a {
  /* text-align: center; */
  text-decoration: none;
  color: #a37dff;
  margin-left: 50%;
}
/* #left_arrow{
    margin-left: 12px;
    width: 3%;
    display: block;
    margin-top: 30px;
    }
 #right_arrow{
        margin-left: 12px;
        width: 3%;
        display: block;
        margin-top: 30px;
    } */

#v_footer {
  background-color: #fafaff;
  display: flex;
  height: auto;
  width: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 0 50px;
}

#v_footer > div {
  /* border: 1px solid saddlebrown; */
  text-align: left;
  width: 100%;
}
#v_footer > div a {
  text-decoration: none;
  color: #9b67ff;
  padding: 10px;
}
#bottom {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #efeff0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
#bottom > div {
  font-size: 13px;
  padding: 10px 20px 10px 20px;
  color: solid #fafaff;
  font-weight: lighter;
}
.v_unorderedlist > li {
  margin-top: 12px;
}
.v_unorderedlist > li > p > b {
  position: relative;
  left: 10px;
}
#v_contactus > li > a {
  margin-left: -13px;
}
#v_unorderedlist-shine-logo {
  /* border: 1px solid; */
  width: 30%;
  position: relative;
  top: 10px;
  left: -10px;
}
#v_unorderedlist-shine-logo a img {
  width: 95%;
}
#v_contactus > li > img {
  /* padding-left: 12px; */
  width: 7%;
  margin-left: 10px;
}

/* -------------cart Page-------------------- */

.empty-cart-div {
  position: relative;
  top: 110px;
  left: 36%;
  display: block;
  /* border: 1px solid; */
  width: 400px;
  height: 300px;
  text-align: center;
}
.empty-cart-div img {
  margin-top: 25px;
}
.empty-cart-div p {
  margin-bottom: 30px;
}
.empty-cart-div > a {
  border-radius: 5px;
  background-color: #8652ff;
  color: white;
  font-weight: 600;
  padding: 10px;
}
#cart-items-container {
  width: 58%;
  height: 90px;
  margin-left: 100px;
  margin-top: 25px;
  /* margin-bottom: -20px; */
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 5px;
}
#cart-items-container:first-child {
  margin-top: 60px;
}
#use-flex-box-here img {
  width: 55px;
  height: 55px;
  margin-top: 20px;
}
#use-flex-box-here {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}
#use-flex-box-here h3 {
  margin: 16px 0;
  font-size: 20px;
}
#use-flex-box-here h4 {
  margin: -10px 0;
  font-size: large;
}
#remove-btn {
  border: none;
  padding: 0;
  margin: 0;
  background: none;
  cursor: pointer;
  color: rgb(98, 98, 98);
}
#cart-total {
  position: absolute;
  box-sizing: border-box;
  /* border: 1px solid #8652ff; */
  left: 1030px;
  top: 120px;
  width: 430px;
}
#apply-coupon-div {
  /* border: 1px solid; */
  padding: 1px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 5px;
}
#apply-coupon-div h4 {
  margin-left: 20px;
  /* border: 1px solid; */
  font-size: 15px;
  width: 112px;
  padding-bottom: 5px;
  border-bottom: 3px solid #8652ff;
}
#apply-coupon-div input {
  /* padding: 10px 50px 10px 5px; */
  width: 300px;
  padding: 10px 0 10px 5px;
  margin-left: 16px;
  border-radius: 5px;
  border: 1px solid #bbb;
  margin-bottom: 15px;
}
#apply-coupon-div button {
  margin-left: 10px;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 600;
  color: white;
  background-color: #8652ff;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
#order-summary-div {
  /* border: 1px solid red; */
  margin: 20px 0;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 5px;
  padding: 10px 0 10px 0;
}
#order-summary-div h2 {
  margin-left: 20px;
}
#order-summary-data {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  /* border: 1px solid; */
}
#ak-cart-subtotal {
  /* border: 1px solid; */
  margin: 5px 0 0 0;
}
#order-summary-data p,
#order-summary-data h4 {
  margin: 10px 0;
}
#cart-total > a {
  float: right;
}
#cart-total > a button {
  border: none;
  padding: 10px 20px;
  font-size: 15px;
  color: white;
  background-color: #8652ff;
  border-radius: 5px;
  cursor: pointer;
}

/* ----------------------Job Seeking-------------------- */

/* body {
  text-align: center;
  height: auto;
} */

#buttonh3 {
  border-radius: 5px;
  width: 200px;
  height: 35px;
  /* margin: auto; */
  padding-top: 15px;
  text-align: center;
  /* padding: 5px; */
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  /* margin: auto; */
  color: white;
  background-color: #f3a433;
}

#job-seeking-container {
  display: flex;
  width: 85%;
  height: 400px;
  /* border:1px solid red; */
  margin: auto;
  text-align: left;
  margin-top: 40px;
}

#job-seeking-container > div {
  width: 30%;
  height: 400px;
  /* border:1px solid red; */
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#job-seeking-container > div > img {
  width: 363px;
}

#job-seeking-bottom {
  display: grid;
  /* border: 1px solid red; */
  grid-template-columns: 1fr 1fr;
  text-align: center;
  margin: auto;
  height: 30px;
  padding: 4px;
  color: #905ffc;
  /* font-weight:bold; */
}

#job-seeking-bottom div {
  /* color: green; */
  width: 100px;
  font-size: small;

  /* border:1px solid red; */
}

#job-seeking-bottom div:nth-child(1) {
  /* color: red; */
  margin-left: -23px;
}

#job-seeking-explore {
  margin-left: 25px;
  font-weight: bolder;
  /* color:red; */
  /* border:1px solid red; */
}

#job-seeking-bottom2 {
  display: flex;
  /* border:1px solid red; */
  border-radius: 4px;
  float: right;
  /* width:350px; */
  height: 20px;
  margin: auto;
  padding: 5px;
  font-size: small;
  margin-top: -8px;
  color: white;
  background-color: #905ffc;
}

#phoneimg {
  width: 20px;
  height: 20px;
  /* color:white; */
  /* background-color: white; */
}

/* h1,
h3,
p {
  /* padding: 2px; */
/* margin-left: 5px;
}

h4 {
  margin-left: 14px;
} */

#job-seeking-container2 {
  display: grid;
  /* border:1px solid red; */
  margin-top: 100px;
  margin-bottom: 70px;
  grid-template-columns: 1fr 1fr;
  grid-gap: -50px;
  padding: 30px;
  align-items: center;

  /* margin: auto; */
}

#job-seeking-container2 > div > img {
  width: 60%;
  /* border:1px solid red; */
}

#flex {
  display: flex;
  flex-direction: column;
  text-align: left;
  /* border: 1px solid red; */
  width: 80%;
  margin-top: -25px;
}

/* h1 {
  text-align: center;
  /* margin: auto; */
/* } */

#grid12 {
  display: grid;
  /* border: 1px solid red; */
  grid-template-columns: repeat(3, 1fr);
  gap: 55px;
  padding: 15px;
  margin: auto;
  /* justify-content: space-evenly; */
  width: 85%;
  height: 100%;
  margin: auto;
  text-align: left;
  margin-top: 50px;

  /* text-align: center; */
}

#card12 {
  width: 100%;
  /* border: 1px solid red; */
  height: 250px;
  /* margin-left: 30px; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* justify-content: right; */
}

#card12 > #logo12 {
  margin-left: 15px;
}

/* p {
  font-size: small;
} */

#grid122 {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

#job-seeking-explore12 {
  float: right;
  /* border: 1px solid red; */
  text-align: center;
  color: #905ffc;
  font-weight: bolder;
}

#logo12 {
  width: 50px;
  /* padding: 5px; */
  margin-top: 10px;
}

#eye {
  width: 20px;
  margin-left: 40px;
}

#share {
  width: 20px;
  margin-left: 45px;
}

#feelinglost {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px;
  /* border:1px solid red; */
  margin: auto;
  width: 90%;
  align-items: center;
  height: auto;
  justify-content: center;
}

#feelinglost > div {
  /* border: 1px solid red; */
  height: 300px;
}

#call {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 450px;
  /* height: 200px; */
  margin: auto;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

#callback {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* margin:auto; */
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  justify-content: center;
  /* height:auto; */
  padding: 10px;
  margin: auto;
  text-align: left;
  /* margin-top: 50px; */
  /* height: 200px; */
}

.job-seeking-input input {
  /* border:1px solid red; */
  width: 300px;
  height: 30px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  text-align: left;
  padding: 5px;
  margin-bottom: 15px;
}

.job-seeking-input div {
  /* border:1px solid red; */
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  width: 130px;
  height: 30px;
  text-align: left;
  /* margin:auto; */
  padding-top: 8px;
  padding-left: 5px;
  border-radius: 5px;
  background-color: #9060ff;
  color: white;
  font-weight: bolder;
}

#grid1234 {
  display: grid;
  gap: 30px;
  border-radius: 5px;
  grid-template-columns: repeat(3, 1fr);
  /* border: 1px solid red; */
}

#card123 {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  padding: 5px;
  margin: auto;
  text-align: center;
  width: 80%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#card123 img {
  width: 200px;
  height: 200px;
  margin: auto;
}

/* -------------Be an Early applicant ------------ */

.card-body-h1 {
  text-align: center;
  /* margin-top:-15px; */
}

.card-body-h4 {
  margin-top: -5px;
  margin-left: 10px;
}

#early-applicant-section div {
  font-size: 1rem;
  color: #505e6b;
  margin-left: 10px;
  margin-right: 10px;
}

#early-applicant-section img + div {
  margin-left: -65px;
  /* color: red; */
}

#early-applicant-section img + div + a {
  color: #8652ff;
  margin-left: -80px;
}

#early-applicant-section #container {
  display: flex;
  /* border: 1px solid red; */
  height: 220px;
  width: 95%;
  margin: auto;
  justify-content: space-evenly;
}

#early-applicant-section #map,
#early-applicant-section #job,
#early-applicant-section a {
  width: 20px;
  height: 20px;
  /* border: 1px solid red; */
  margin-left: -40px;
}

#early-applicant-section #card {
  /* border:1px solid green; */
  width: 30%;
  height: 220px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 15px 10px;
}

#early-applicant-section #flex1 {
  display: flex;
  width: 100%;
  /* border: 1px solid yellow; */
  /* padding-top: 5px; */
  height: 35px;
  /* margin-top:-2px; */
  justify-content: space-between;
  margin: 0;
  /* padding:0; */
}

#early-applicant-section #flex2 {
  display: flex;
  /* border: 1px solid red; */
  justify-content: space-around;
  margin-top: 10px;
  padding: 5px;
  width: 80%;
}

#early-applicant-section #flex3 {
  display: flex;
  /* border: 1px solid red; */
  margin-left: auto;
  margin-top: 10px;
}

#early-applicant-section #apply {
  float: right;
  /* margin-top: 20px; */
}

#early-applicant-section a {
  text-decoration: none !important;
  color: #8652ff;

  font-weight: bold;
}

.card-body-h1 {
  margin-top: 40px;
}

#early-applicant-section #container-last {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  /* border: 1px solid red; */
  /* height: 100px; */
  /* margin-top: 150px; */
  width: 60%;
  margin: auto;

  margin-top: 70px;
  /* text-align: center; */
  padding: 10px;
}
#early-applicant-section #container-last > .flex {
  display: flex;
  width: 350px;
  height: 80px;
  /* border:1px solid red; */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  justify-content: center;
  margin: auto;
  padding: 10px;
  align-items: center;
  margin-bottom: 20px;
}
#early-applicant-section #search,
#early-applicant-section #add {
  width: 50px;
  height: 50px;
}
#card > div {
  font-size: 14px;
}
#card h4 {
  margin: 0 0 10px 10px;
  font-size: larger;
  color: black;
}
#flex3 > div {
  font-size: small;
}
