#v_buyingcontainer{
    text-align: left;
    /* border: 1px solid black; */
    width: 25%;
    height: 86%;
    margin-left: 40%;
    margin-top: 5%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.v_buyinghead{
color: white;
background-color:#78a5f4;
height: 120px;
}
/* .v_buyinghead > button{
    border: none;
    color: white;
    margin-left: 90%;
} */
.v_buyingfooter{
    color: white;
background-color:#78a5f4;
border: 1px solid salmon;
text-align: center;
margin-top: 20px;
}
.v_razorpay,.v_userdetails{
    display: flex;
    justify-content: left;
    gap: 10px;
    align-items: baseline;
    /* border: 0.5px solid black; */
    /* border-bottom: none; */
    
    /* background-color: lightblue; */
}
.v_paymentmethod{
    display: flex;
    border: 0.2px solid black;
    border-bottom: none;
    height: 50px;
    width: 90%;
    margin: auto;
    align-items: baseline;
    gap: 10px;
}

.v_paybtn{
    color: blue;
    font-size: 20px;
    border-radius: 50%;
    border: none;
    margin-left: 70px;
    margin-top: 20px;
}
