*{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
list-style-type: none;

}
#v_logo_container{
    /* border: 1px solid black; */
    /* width: 40%; */
    /* justify-content: space-between; */
    gap: 30px;
}
#v_logo_container img{
   height: 60px;
   width: 60px;
   /* gap: 50px; */
}
#v_logo_container > div{
    /* margin: auto; */
    display: flex;
    gap: 35px;
    justify-content: center;
    font-size: 14px;
}

#v_btn{
    width: 90%;
    /* border: 1px solid; */
    display:flex;
    justify-content: center;
    margin-left: 5%;
    margin-top: 30px;
    gap: 50px;
    /* padding: 0% 1% 0% 1%; */
    /* margin-left: 35% */
    }

#v_btn > button{
    border: none;
    background-color: white;
    color: #676fc3;
    border: 1px solid;
    border-radius: 20px;
    padding: 5px 9px;
    text-align: center;
    font-size: 15px;
    margin: 3px 3px;
    cursor: pointer;
}
#v_btn button:hover{
background-color: #d8d9fd;
color: black;
}
#v_cool_places{
    height: auto;
    width: 90%;
    margin-left: 60px;
    display: flex;
    /* border: 1px solid red; */
    /* position: absolute; */
    /* display: none; */
}
#v_cool_places > div {
    /* border: 1px solid #676fc3; */
    text-align: center;
    margin: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
/* #v_cool_places > div img{
 /* width: 100%; */
/* } */
#bottom{
    background-color: white;
}
#v_top_companies{
    /* border: 1px solid salmon; */
    display: grid;
    grid-template-columns: repeat(6,1fr);
    height: auto;
    width: auto;
    width: 90%;
    margin-left: 90px;
    display: none;
}
#v_top_companies > div{
 /* border: 1px solid salmon; */
 margin: 5px;
 margin-bottom: 10px;
 box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#v_top_companies  div > button{
    color: blue; 
    border-radius: 50%;
    font-size: 35px;
    border: 0.5px solid blue;
    margin-top: 10px;
}
#v_viewall > a{
/* text-align: center; */
text-decoration: none;
color: #a37dff;
margin-left: 50%;
}
/* #left_arrow{
    margin-left: 12px;
    width: 3%;
    display: block;
    margin-top: 30px;
    }
 #right_arrow{
        margin-left: 12px;
        width: 3%;
        display: block;
        margin-top: 30px;
    } */

#v_footer{
    display: flex;
    height: auto;
    width: 100%;
    margin-top: 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#v_footer > div{
    /* border: 1px solid saddlebrown; */
    text-align: left;
    width: 100%;
}
#v_footer > div a{
    text-decoration: none;
    color: #9b67ff;
    padding: 10px;
}
#bottom {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #efeff0 ;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
#bottom > div{
    font-size: 13px;
    padding: 10px 20px 10px 20px;
    color: solid #fafaff;
    font-weight: lighter;

}
.v_unorderedlist>li{
    margin-top: 12px;
}
#v_contactus > li>a{
    margin-left: -13px;
}
#v_contactus > li > img{
    padding-left: 12px;
}
