h1{
    text-align: center;
    /* margin-top:-15px; */
}

body{
    height:1200px;
    /* border:1px solid green; */
}

h4{
    margin-top:-5px;
    margin-left:10px;
}

div{
    font-size:1rem;
    font-family: PT Sans,sans-serif;
    color: #505e6b;
    margin-left:10px;
    margin-right:10px;
}

img  + div {
    margin-left:-45px;
    /* color: red; */
}

img + div + a{
    color: #8652ff;
    margin-left:-40px;
}

#container{
    display: flex;
    /* border: 1px solid red; */
    height: 220px;
    width:95%;
    margin:auto;
    justify-content: space-evenly;
}

#map, #job , a{
    width:20px;
    height: 20px;
    /* border: 1px solid red; */
    margin-left:-40px;
}



#card{
    /* border:1px solid green; */
    width: 30%;
    height: 220px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
    
}

#flex1{
    display: flex;
    width: 100%;
    /* border: 1px solid yellow; */
    padding-top: 5px;
    height:35px;
    /* margin-top:-2px; */
    justify-content: space-between;
    margin:0;
    /* padding:0; */
}

#flex2{
    display: flex;
    /* border: 1px solid red; */
    justify-content:space-around;  
    margin-top: 10px;
    padding: 5px;
    width:80%;
    

}

#flex3{
    display:flex;
    /* border: 1px solid red; */
    margin-left:auto;
    margin-top:10px;

}

#apply{
    float: right;
    margin-top:20px;

}

a {
    text-decoration: none !important;
    color: #8652ff;
    
    font-weight: bold;
  }

h1{
    margin-top: 40px;
}

#container-last{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap:10px;
    /* border: 1px solid red; */
    /* height: 100px; */
    /* margin-top: 150px; */
    width:60%;
    margin:auto;
    
    margin-top: 70px;
    /* text-align: center; */
    padding: 10px;
}



#container-last > .flex{
    display: flex;
    width: 350px;
    height: 80px;
    /* border:1px solid red; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    justify-content: center;
    margin:auto;
    padding: 10px;
    align-items: center;
    
    

}

#search, #add{
    width:50px;
    height: 50px;
    
}







